body {
  margin: 10px;
}

.bar-container {
  display: flex;
  align-items:baseline;
  justify-content: center;
}

.bar {
  width: 5px;
  background-color: black;
  display: inline-block;
  margin: 0 1px;
}